                                                  DIRECTIVES
                                  <!-- STRUCTURAL DIRECTIVE -->
<!-- OLD VERSION OF STRUCTURAL DIRECTIVE USEING * -->
<h2 *ngIf="isenable; else message">{{user}}</h2>

<h1 *ngIf="!isenable">user not found</h1>

<!-- ANOTHER WAY TO USE ELSE WITH NG-TEMPLATE  -->
 <ng-template #message>
  this is ng block else condition
 </ng-template>
<!-- NEW VERSION OF STRUCTURAL DIRECTIVE USEING @ -->
@if(isenable){
  <h3 style="color: red;">{{user}}</h3>
}
@else(){
  <h3 style="color: green;">{{user}}</h3>
}
<!-- STRCTURAL DIRECTIVES USEING VALUES AND NUMBERS OLD SYNTAX -->
<button (click)="checkfordata()" *ngIf="logincount < 3">click</button>
<h1 *ngIf="logincount == 3">exceeded 3 attempts</h1>

<!-- STRCTURAL DIRECTIVES USEING VALUES AND NUMBERS NEW SYNTAX -->
@if(logincount < 4){
  <button (click)="checkfordata()" >new syntax</button>
  }
@if(logincount  == 4){
  <h1>exceeded 3 attempts</h1>
}
<!-- STRCTURAL DIRECTIVES USEING VALUES AND STRINGS NEW SYNTAX -->
@if(user == 'nagavalli'){
  <button style="background-color: brown;">click</button>
}
@else{
  <button style="background-color: red;">click</button>
}
<!-- WITH NG_TEMPLATE -->
<h2 *ngIf="user == 'nagavalli'; else id">user find</h2>

<ng-template #id>
  <h2 >user not found</h2>
</ng-template>

<!-- NGTEMPLATEOUTLET -->
<ng-template #displaycontent>
  <button>click</button>
  <p>its working</p>
</ng-template>

<h1 [ngTemplateOutlet]="displaycontent">hero</h1>

<h1 [ngTemplateOutlet]="displaycontent">heroien</h1>

<h1 [ngTemplateOutlet]="displaycontent">villain</h1> 

<!-- NGFOR -->
<h1>{{users}}</h1>
 <h2>{{users [0]}}</h2>
<h2>{{users [1]}}</h2>
<h2>{{users [2]}}</h2>

<h1 *ngFor="let i of users">{{i}}</h1>

<!-- USEING UNORDERLIST WITH FOR IN NEW SYNTAX -->
<ul>
@for(i of users;track i){
  <!-- <h5>{{i}}</h5> -->
    <li>{{i}}</li>
}
</ul>

<!-- USEING NGFOR WITH OBJECT ARRAY -->
 <ul>
@for(user of userObj; track user){
  <li>{{user.gmail}}</li>
}
</ul>

<button (click)="addnew()">click to add new user</button>

<h1 *ngFor="let user of userObj">{{user.name}} <button (click)="ondelete(user)">delete</button></h1>
