                                                  DIRECTIVES
                                  <!-- STRUCTURAL DIRECTIVE -->
<!-- OLD VERSION OF STRUCTURAL DIRECTIVE USEING * -->
<h2 *ngIf="isenable; else message">{{user}}</h2>

<h1 *ngIf="!isenable">user not found</h1>

<!-- ANOTHER WAY TO USE ELSE WITH NG-TEMPLATE  -->
 <ng-template #message>
  this is ng block else condition
 </ng-template>
<!-- NEW VERSION OF STRUCTURAL DIRECTIVE USEING @ -->
@if(isenable){
  <h3 style="color: red;">{{user}}</h3>
}
@else(){
  <h3 style="color: green;">{{user}}</h3>
}
<!-- STRCTURAL DIRECTIVES USEING VALUES AND NUMBERS OLD SYNTAX -->
<button (click)="checkfordata()" *ngIf="logincount < 3">click</button>
<h1 *ngIf="logincount == 3">exceeded 3 attempts</h1>

<!-- STRCTURAL DIRECTIVES USEING VALUES AND NUMBERS NEW SYNTAX -->
@if(logincount < 4){
  <button (click)="checkfordata()" >new syntax</button>
  }
@if(logincount  == 4){
  <h1>exceeded 3 attempts</h1>
}
<!-- STRCTURAL DIRECTIVES USEING VALUES AND STRINGS NEW SYNTAX -->
@if(user == 'nagavalli'){
  <button style="background-color: brown;">click</button>
}
@else{
  <button style="background-color: red;">click</button>
}
<!-- WITH NG_TEMPLATE -->
<h2 *ngIf="user == 'nagavalli'; else id">user find</h2>

<ng-template #id>
  <h2 >user not found</h2>
</ng-template>

<!-- NGTEMPLATEOUTLET -->
<ng-template #displaycontent>
  <button>click</button>
  <p>its working</p>
</ng-template>

<h1 [ngTemplateOutlet]="displaycontent">hero</h1>

<h1 [ngTemplateOutlet]="displaycontent">heroien</h1>

<h1 [ngTemplateOutlet]="displaycontent">villain</h1> 

<!-- NGFOR -->
<h1>{{users}}</h1>
 <h2>{{users [0]}}</h2>
<h2>{{users [1]}}</h2>
<h2>{{users [2]}}</h2>

<h1 *ngFor="let i of users">{{i}}</h1>

<!-- USEING UNORDERLIST WITH FOR IN NEW SYNTAX -->
<ul>
@for(i of users;track i){
  <!-- <h5>{{i}}</h5> -->
    <li>{{i}}</li>
}
</ul>

<!-- USEING NGFOR WITH OBJECT ARRAY -->
 <ul>
@for(user of userObj; track user){
  <li>{{user.gmail}}</li>
}
</ul>

<button (click)="addnew()">click to add new user</button>

<!-- <h5 *ngFor="let user of userObj; let i = index">{{i}} {{user.name}} <button (click)="ondelete(user)">delete</button></h5> -->
<h5 *ngFor="let user of userObj; let i = index; let usercount=count">{{usercount}} {{user.name}} <button (click)="ondelete(i)">delete</button></h5>

<!-- NEW APROACH -->
<ol>
@for(user of userObj;track user;let  i = $index;let usercount = $count){
 <li>
    <!--  DELETE WITH INDEX VALUES -->
   <!-- {{userObj.length}} {{user.name}} <button (click)="ondelete(i)">delete</button> <br><br> -->
    <!-- {{user.name}} <button (click)="ondelete(user)">delete</button> -->
    {{usercount}} {{user.name}} <button (click)="ondelete(i)">delete</button>
  </li>
  
}
@empty{
  <p>this is render from empty syntax block</p>
}
</ol>

@if(userObj.length > 0){
  <h1 style="color: green;">users are existed in this array</h1>
}
@else{
  <h1 style="color: red;">there is no users in this array</h1>
}

<ol>
@for(u of userObj;track u ; let first = $first; let last = $last; let even = $even;let odd = $odd){
  <li>
  <!-- <h4>{{first}}--{{u.id}}</h4>
  <h4>{{last}}--{{u.gmail}}</h4>
  <h4>{{even}}----{{u.id}}</h4> -->
  <h4>{{odd}}----{{u.id}}</h4>
  
</li>
}
</ol>


<!-- NG SWITCH CASE  -->
<!-- <div [ngSwitch]="userrole">
  <p *ngSwitchCase="'admin'">welcome admin</p>
  <p  *ngSwitchCase="'user'">welcome user</p>
  <!-- IT SHOWS BY DEFAULT IF THERE IS NO VALUE BUT THIS IS NOT GOOD PRACTICE -->
  <!-- <p  *ngSwitchCase="''">welcome user</p> -->
  <!-- BY DEFAULT RENDER IF THERE IS NO VALUE USE NGSWITCHDEFAULT  -->
  <!-- <P *ngswitchDeafult>value render by default</P> -->
<!-- </div> -->
<!-- new way ng switch CASE -->
 @switch(userrole){
  @case('admin'){
    <p>welcome admin</p>
  }
  @case('user'){
    <p>welcome user</p>
  }
  @default{
    <p>default value</p>
  }
  
 }


                                          <!-- ATTRIBUTE BINDING-->
<!-- STYLE BINDING -->
 <!-- OLDWAY  -->
<h1 [style.color]="isstyle?'green':'red'" [style.textTransform]="isstyle?'uppercase':'lowerCase'">from attribute binding-- style binding</h1>
<!-- NEW WAY -->
<h1 [ngStyle]="{'color': isstyle?'pink':'black' , textTransform :isstyle? 'lowercase':'uppercase'  }">from css</h1>
 <!--ngClass OLDWAY  -->
<h1 [class.classBinding]="isstyle" [class.bindingfalse]="!isstyle"> from class binding</h1>
<!-- ngClass NEW WAY-->
<h1 [ngClass]="isstyle?'classBinding':'bindingfalse'">this is from ng style</h1>